.header {
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;   
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchInput {
    height: 15px;
    padding: 12px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    background-color:white;
    padding: 5px;
    height: 24px;
    width: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__shoppingCartIcon {
    display: flex;
    
}

.header__cartCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionCart {
    align-items: center;
}