/* .sneaker {
    display: flex;
    height: 25px;
    width:25px;
    align-items: center;
    max-width: 1500px;
}

.sneaker__card {
    display: flex;
    height: 25%;
    max-width: 1500px;
    
} */